canvas {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
}

#loading {
	display: none;
	position: fixed;
	z-index: 1;
}

#loading-message {
	display: none;
	position: fixed;
	color: #deb887;
	font-family: monospace;
	font-weight: bold;
	background: rgba(0, 0, 0, 0.2);
	padding: 3px 10px;
	margin-left: -7px;
	z-index: 1;
}

#end1, #end2 {
	background-color: #800;
	white-space: pre;
}

canvas:-moz-full-screen {
	background-color: #000;
}

canvas:-webkit-full-screen {
	background-color: #000;
}

canvas:fullscreen {
	background-color: #000;
}