/* region Window */

.theme-win9x .emuos-window {
	border-radius: 0;
	border: 1px solid #dfdfdf71;
	background-color: rgba(255, 255, 255, 0.438);
	padding: 3px;
}

.theme-win9x .emuos-window::before {
	position: absolute;
	top: 1px;
	left: 1px;
	display: block;
	content: '';
	width: calc(100% - 6px);
	height: calc(100% - 6px);
	border: 2px solid #c0c0c069;
}

/*noinspection CssOptimizeSimilarProperties,CssReplaceWithShorthandSafely*/
.theme-win9x .emuos-window .ui-dialog-titlebar {
	background-color: #808080;
	background: -webkit-gradient(linear, left top, right top, color-stop(0, #808080), color-stop(100%, #c0c0c0)) !important;
	background: -webkit-linear-gradient(left, #808080, #c0c0c0) !important;
	border-radius: 0;
	font-size: 13px;
	font-weight: bold;
	/*text-align: center;*/
	border: none;
	border-bottom: 1px solid #c0c0c0;
	padding: 0;
	padding-left: 19px;
	height: 18px;
	color: #d4d0c8;
	overflow: hidden;
}

.theme-win9x .emuos-window .ui-dialog-titlebar.ui-state-active {
	/*background-color: #000080;*/
	background-color: #0a246a;
	background: -webkit-gradient(linear, left top, right top, color-stop(0, #268d07), color-stop(100%, #c1f0a6)) !important;
	background: -webkit-linear-gradient(left, #268d07, #c1f0a6) !important;
	border: none;
	border-bottom: 1px solid #c0c0c05e;
	color: #fff;
}

.theme-win9x .emuos-window .ui-dialog-titlebar .ui-dialog-title {
	line-height: 19px;
	/*margin: -2px 0 0;*/
}

.theme-win9x .emuos-window .emuos-window-content {
	padding: 0;
	font-size: 13px;
	line-height: 16px;
	height: calc(100% - 19px) !important;
	max-height: calc(100% - 19px) !important;
	background-color: #fff;
}

.theme-win9x .emuos-window .emuos-window-content p {
	margin: 0;
	padding: 0;
}

/* endregion */